.gameUI1 {
    height: 100vh;
    width: 100vw;

}

.gameUI2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.question {
    text-align: center;
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 1rem;

    display: flex;
    justify-content: center;
    
}

.buttonDIV {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.buttonELEM {
    height: 80%;
    width: 20%;
    border-radius: 5px;
    background-color: plum;
    border-color: blue;
    font-size: xx-large;
}

button:hover {
    background-color: #ff9900;
    color: white;
}

.inputDIV {
    height:10%;
    width: 100vw;
    display: flex;
    justify-content: center;

}

.inputELEM {
    height: 30px;
    width: 45%;
    text-align: center;
    border-radius: 5px;
    background-color: plum;
    border-color: blue;
    font-size: x-large;
}

.imageDIV {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.imageELEM {
    height: 100%;
    width: 100%;
    object-fit: contain;

}

* {
    font-family: Georgia, serif;
}

#botA {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 380px;
    top: 470px;
}

#botB {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 530px;
    top: 470px;
}

#botC {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 680px;
    top: 470px;
}

#botD {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 830px;
    top: 470px;
}

#botE {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 980px;
    top: 470px;
}

#botF {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 1130px;
    top: 470px;
}

#bot1 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 300px;
    top: 60px;
}

#bot2 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 450px;
    top: 60px;
}

#bot3 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 600px;
    top: 60px;
}

#bot4 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 750px;
    top: 60px;
}

#bot5 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 900px;
    top: 60px;
}

#bot6 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 1050px;
    top: 60px;
}

#bot7 {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: blue;
    left: 1200px;
    top: 60px;
}

#map {
    display: none; 
    position: relative;
}